src/App.css

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color:#333
}

header {
  background-color:#333;
  color:#CCC;
  padding: 20px;
  text-align: center;

  
}

main {
  display: flex;
  justify-content: space-around;
  /* border: 2px solid red; */
  gap:15rem;
  

 
}

.product-list {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* border:2px solid black; */
  gap: 10px;
}

.product {
  background-color:#CCC;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin:20px;
  /* border: 2px solid blue; */
  height: 20rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  /* display: flex; */
}

.product img {
  max-width: 40%;
  height: 40%;
}

.product button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.cart-container {
  flex: 1;
  display: flex;
  margin-left: 20px;
  width: 100px;
}

.cart {
  background-color:#CCC;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.cart h2 {
  margin-bottom: 10px;
}

.cart-item {
  display: flex;
  margin-bottom: 20px;
}

.cart-item img {
  max-width: 80px;
  height: auto;
  margin-right: 10px;
}

.cart-item div {
  flex: 1;
}

.cart-item button {
  background-color: #ff3d00;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.quantity-buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.quantity-buttons button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin: 0 5px;
}

.cart-summary {
  margin-top: 20px;
}

.cart-summary hr {
  margin-top: 10px;
}

.cart-summary h3 {
  margin-top: 10px;
}

.cart-summary button {
  background-color: #ff3d00;
  color: white;
  border: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.cart-icon {
  background-color: #ff3d00;
  color: #FFFFFF;
  padding: 5px 10px;
  border-radius: 50%;
  font-size: 14px;
  position: absolute;
  top: 10px;
  right: 10px;
}
